@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

* {
    --primary-color: #01ad84;
    --secondary-color: #ccd8ff;
    --accent-color: #004737;
    --background-color: #f4f3eb;
    --text-color: #070604;
}

.layout {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: var(--primary-color);
}

.dashboard-items {
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    gap: 40px;
}

.set-1  *:hover, 
.set-2  *:hover, 
.dashboard-title:hover {
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--background-color);
    fill: var(--background-color) ;
}

.dashboard-title, 
.set-1 div, .set-2 div {
    padding: 3px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: center;
}

.set-1, .set-2 {
    display: grid;
    gap: 10px;
}


.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-area {
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
}

.greeting-area {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
}

.greeting-area > .icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.greeting-area > .greeting {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.greeting-area > .username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.profile-area {

    justify-self: end;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}

.actions-area {

    justify-self: end;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 90px);

    gap: 10px;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(4, 3fr);

    gap: 15px;
}

.main-content > .headline.project {

    grid-column: 1 / 3;
}

.main-content > .headline.announcement {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.main-content > .highlights {
    grid-column: 3 / 4;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;
    gap: 15px;
}


.trending-profile {
    display: grid;

    grid-template-columns: 1fr 8fr;
    grid-row: 1fr 1fr;
}

.trending-profile > .avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.trending-profile > .username {
    grid-column: 2 / 3;
    grid-row: 1 / 2
}

.trending-profile > .bio {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}






.icon {
    width: 20px;
    height: 20px;
}
